  .heading
  {
    font-size: 20px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px black;
   
  }
  .heading_div
  {
    float: none;
    padding: 10px;
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px black;
    
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px black;
    font-size: 20px;
  }
  .result_para_tag span
  {
    white-space: pre-line;
  }
  .copy_right_footer
  {
    position: fixed;
    bottom: 0px;
    color: white;
    background-color: #d9534f;
    width: 100%;
    line-height: 2;
    text-align: center;
  }

canvas
{
  border: 3px solid #d9534f;
  border-radius: 20px;
  box-shadow: 5px 5px 5px black;
  margin-top: 150px;
}
 